.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


.card{
	display: block;
	width: 20rem; 
	height: auto;
	margin: 100px auto auto auto;
	float: none;
	overflow-x: hidden;
	overflow-y: hidden;
}
