
<div style="width: 40%; float:left; position:fixed">
	<button (click)="sendToHome()">
		Home
	</button>
	<form class="example-form">
		<table class="example-full-width" cellspacing="19">
			<tr>
				<td>
					
						<textarea placeholder="Diagnosticos"></textarea>
					
				</tr>
			</table>
		</form>
	</div>



 	<!-- <input type="text" [value]='hemodinamicoString'>
 		<input type="text" *ngFor="let droga of fichaObject.Dispositivos, let i =index" [value]='droga' (input)="fichaObject.Dispositivos[i] = $event.target.value; prepareArrays();" > -->



 		<div style="width: 60%; float:right">
 			<button (click)="sendToHome()">
 				Home
 			</button>
 			<br>
 			<div class="container">
 				<label for="hemodinamicoTextArea">Hemodinâmico</label>
 			<textarea id="hemodinamicoTextArea" disabled class="form-control" rows="3" [value]='hemodinamicoString'></textarea>
 			</div>
 			
 		</div>