mat-grid-tile {
	background:  	#F0F8FF;
}
.example-container {
	display: flex;
	flex-direction: column;
}

.example-container > * {
	width: 100%;
}
.text-inside-grid {
  position: absolute;
  left: 5px;
}