html, body {margin: 0; height: 900px; overflow: hidden}

#left {
  height: calc(100% - 56px);
  position: absolute;
  left: 0;
  width: 100%;
  overflow-y: scroll; 
}

#right {
  height: calc(100% - 56px);
  position: absolute;
  right: 0;
  overflow-y: scroll;
  width:100%;
}


.labelsConsulta {
  color: #F88017;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

textarea{
  border-radius: 0.25em;
  padding: 5px;
}