<button (click)="home()">
	Home
</button>


<mat-grid-list cols="2" rowHeight="1:2">
	<mat-grid-tile>
		<div class="example-container">
			<mat-form-field>
				<input matInput placeholder="Input">
			</mat-form-field>

			<mat-form-field>
				<textarea matInput placeholder="Textarea"></textarea>
			</mat-form-field>

			<mat-form-field>
				<mat-select placeholder="Select">
					<mat-option value="option">Option</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Input">
			</mat-form-field>
		</div>
	</mat-grid-tile>
	<mat-grid-tile>Tela Consulta</mat-grid-tile>
</mat-grid-list>
