
#left {
  height:100%;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-y: scroll; 
}

#right {
  height:100%;  
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  width:100%;
}

label {
  color: #F88017;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}