<button (click)="home()">
	Home
</button>


<mat-grid-list cols="2" rowHeight="1:2">
	<mat-grid-tile>
		<div class="example-container">
			<mat-list>
				<mat-list-item> Pepper </mat-list-item>
				<mat-list-item> Salt </mat-list-item>
				<mat-list-item> Paprika </mat-list-item>
			</mat-list>
			<mat-list>
				<mat-list-item> Pepper </mat-list-item>
				<mat-list-item> Salt </mat-list-item>
				<mat-list-item> Paprika </mat-list-item>
				
			</mat-list>
			<mat-list>
				<mat-list-item> Pepper </mat-list-item>
				<mat-list-item> Salt </mat-list-item>
				<mat-list-item> Paprika </mat-list-item>
				
			</mat-list>
			<mat-list>
				<mat-list-item> Pepper </mat-list-item>
				<mat-list-item> Salt </mat-list-item>
				<mat-list-item> Paprika </mat-list-item>
				
			</mat-list>
			<mat-list>
				<mat-list-item> Pepper </mat-list-item>
				<mat-list-item> Salt </mat-list-item>
				<mat-list-item> Paprika </mat-list-item>
				
			</mat-list>
			<mat-list>
				<mat-list-item> Pepper </mat-list-item>
				<mat-list-item> Salt </mat-list-item>
				<mat-list-item> Paprika </mat-list-item>
				
			</mat-list>
			<mat-list>
				<mat-list-item> Pepper </mat-list-item>
				<mat-list-item> Salt </mat-list-item>
				<mat-list-item> Paprika </mat-list-item>
				
			</mat-list>
			<mat-list>
				<mat-list-item> Pepper </mat-list-item>
				<mat-list-item> Salt </mat-list-item>
				<mat-list-item> Paprika </mat-list-item>
				
			</mat-list>
			<mat-list>
				<mat-list-item> Pepper </mat-list-item>
				<mat-list-item> Salt </mat-list-item>
				<mat-list-item> Paprika </mat-list-item>
				
			</mat-list>

		</div>
	</mat-grid-tile>
	<mat-grid-tile>
		Tela Consulta
	</mat-grid-tile>
</mat-grid-list>
