<button (click)="logout()">
	Logout
</button>
<li *ngIf="!pacientes">
	<mat-spinner></mat-spinner>
</li>
<div *ngIf="pacientes; let pacientes ">
	<ul>
		<li *ngFor="let item of pacientes" (click)="liClicked(item)">
			Paciente
			<h2><code>{{ item.nome }} {{item.sobrenome}}</code></h2>
			Medico Responsável
			<h2><code>{{ item.medicoResponsavel }} </code></h2>
			<h2></h2>
		</li>
	</ul>
</div>

<div>
    <div class="loader-overlay">
            <div>
                <mat-spinner mode="indeterminate" *ngIf="show"></mat-spinner>
            </div>
    </div>
</div>