<!-- <nb-layout>
    <nb-layout-header fixed>
        <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
          <span>Santa UTI</span>
    </nb-layout-header>
    <nb-layout-column>
        <nb-sidebar left fixed state="compacted">
            <nb-sidebar-header>He</nb-sidebar-header>
                Menu
            <nb-sidebar-footer>
                Foo
            </nb-sidebar-footer>
        </nb-sidebar>	
    </nb-layout-column>
    <router-outlet>
        <button (click)="logout()">
                Logout
            </button>
            <div *ngIf="pacientes; let pacientes ">
                <ul>
                    <li *ngFor="let item of pacientes" (click)="liClicked(item)">
                        Paciente: {{ item.nome }} {{item.sobrenome}} Médico Responsavel: {{ item.medicoResponsavel }}</li>
                </ul>
            </div>
    </router-outlet>
</nb-layout> -->


<nb-layout class="full-screen">
    <nb-layout-header fixed>
        <div class="header-container"
            [class.left]="position === 'normal'"
            [class.right]="position === 'inverse'">
            <div class="logo-containter">
                <a (click)="toggleSidebar()" href="#" class="navigation"><i class="ion-navicon"></i></a>
                <div class="logo" (click)="goToHome()">ngx-<span>admin</span></div>
            </div>
        </div>
    </nb-layout-header>
    <nb-sidebar class="menu-sidebar"
                    tag="menu-sidebar"
                    responsive>
        <nb-sidebar-header>
        </nb-sidebar-header>
    </nb-sidebar>
    <nb-layout-column>
        <router-outlet>
            <button (click)="logout()">
                Logout
            </button>
            <div *ngIf="pacientes; let pacientes ">
                <ul>
                    <li *ngFor="let item of pacientes" (click)="liClicked(item)">
                    Paciente: {{ item.nome }} {{item.sobrenome}} Médico Responsavel: {{ item.medicoResponsavel }}</li>
                </ul>
            </div>
        </router-outlet>
    </nb-layout-column>
</nb-layout>